In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
df = pd.read_csv("df6.csv", sep="\t")

In [4]:
# On paramétrise notre display function pour avoir toutes les variables
pd.set_option('display.max_columns', None)
df.head()

,Unnamed: 0,Valeur fonciere,Code postal,Commune,Code commune,Nombre de lots,Type local,Surface reelle bati,Nombre pieces principales,Surface terrain,exterieur,year,month,code_postal,nom_commune,nom_departement,nom_region,latitude,longitude,code_departement,pop_active,salaire_moyen,nb_etab_elem
0,0,90000.0,1380.0,SAINT-CYR-SUR-MENTHON,343,0,Maison,150.0,3,347.0,1.0,2018,1,1380,SAINT-CYR-SUR-MENTHON,Ain,Auvergne-Rhône-Alpes,46.275401,4.967571,1,320682.0,15.336249,405
1,1,7300.0,1380.0,SAINT-CYR-SUR-MENTHON,343,0,Autres,0.0,0,344.0,1.0,2018,1,1380,SAINT-CYR-SUR-MENTHON,Ain,Auvergne-Rhône-Alpes,46.275401,4.967571,1,320682.0,15.336249,405
2,2,60000.0,1380.0,SAINT-CYR-SUR-MENTHON,343,0,Autres,0.0,0,210.0,1.0,2018,1,1380,SAINT-CYR-SUR-MENTHON,Ain,Auvergne-Rhône-Alpes,46.275401,4.967571,1,320682.0,15.336249,405
3,3,60000.0,1380.0,SAINT-CYR-SUR-MENTHON,343,0,Autres,0.0,0,798.0,1.0,2018,1,1380,SAINT-CYR-SUR-MENTHON,Ain,Auvergne-Rhône-Alpes,46.275401,4.967571,1,320682.0,15.336249,405
4,4,69000.0,1380.0,SAINT-CYR-SUR-MENTHON,343,0,Autres,0.0,0,979.0,1.0,2018,2,1380,SAINT-CYR-SUR-MENTHON,Ain,Auvergne-Rhône-Alpes,46.275401,4.967571,1,320682.0,15.336249,405

In [5]:
df.drop(columns=["nom_commune", "code_postal", "code_departement"], inplace=True)

In [6]:
df.head()

,Unnamed: 0,Valeur fonciere,Code postal,Commune,Code commune,Nombre de lots,Type local,Surface reelle bati,Nombre pieces principales,Surface terrain,exterieur,year,month,nom_departement,nom_region,latitude,longitude,pop_active,salaire_moyen,nb_etab_elem
0,0,90000.0,1380.0,SAINT-CYR-SUR-MENTHON,343,0,Maison,150.0,3,347.0,1.0,2018,1,Ain,Auvergne-Rhône-Alpes,46.275401,4.967571,320682.0,15.336249,405
1,1,7300.0,1380.0,SAINT-CYR-SUR-MENTHON,343,0,Autres,0.0,0,344.0,1.0,2018,1,Ain,Auvergne-Rhône-Alpes,46.275401,4.967571,320682.0,15.336249,405
2,2,60000.0,1380.0,SAINT-CYR-SUR-MENTHON,343,0,Autres,0.0,0,210.0,1.0,2018,1,Ain,Auvergne-Rhône-Alpes,46.275401,4.967571,320682.0,15.336249,405
3,3,60000.0,1380.0,SAINT-CYR-SUR-MENTHON,343,0,Autres,0.0,0,798.0,1.0,2018,1,Ain,Auvergne-Rhône-Alpes,46.275401,4.967571,320682.0,15.336249,405
4,4,69000.0,1380.0,SAINT-CYR-SUR-MENTHON,343,0,Autres,0.0,0,979.0,1.0,2018,2,Ain,Auvergne-Rhône-Alpes,46.275401,4.967571,320682.0,15.336249,405

In [7]:
df.drop(columns=["Unnamed: 0"], inplace=True)

In [8]:
df.head()

,Valeur fonciere,Code postal,Commune,Code commune,Nombre de lots,Type local,Surface reelle bati,Nombre pieces principales,Surface terrain,exterieur,year,month,nom_departement,nom_region,latitude,longitude,pop_active,salaire_moyen,nb_etab_elem
0,90000.0,1380.0,SAINT-CYR-SUR-MENTHON,343,0,Maison,150.0,3,347.0,1.0,2018,1,Ain,Auvergne-Rhône-Alpes,46.275401,4.967571,320682.0,15.336249,405
1,7300.0,1380.0,SAINT-CYR-SUR-MENTHON,343,0,Autres,0.0,0,344.0,1.0,2018,1,Ain,Auvergne-Rhône-Alpes,46.275401,4.967571,320682.0,15.336249,405
2,60000.0,1380.0,SAINT-CYR-SUR-MENTHON,343,0,Autres,0.0,0,210.0,1.0,2018,1,Ain,Auvergne-Rhône-Alpes,46.275401,4.967571,320682.0,15.336249,405
3,60000.0,1380.0,SAINT-CYR-SUR-MENTHON,343,0,Autres,0.0,0,798.0,1.0,2018,1,Ain,Auvergne-Rhône-Alpes,46.275401,4.967571,320682.0,15.336249,405
4,69000.0,1380.0,SAINT-CYR-SUR-MENTHON,343,0,Autres,0.0,0,979.0,1.0,2018,2,Ain,Auvergne-Rhône-Alpes,46.275401,4.967571,320682.0,15.336249,405

In [9]:
df.drop(columns=["Code postal", "Commune", "Code commune"], inplace=True)

In [10]:
df.head()

,Valeur fonciere,Nombre de lots,Type local,Surface reelle bati,Nombre pieces principales,Surface terrain,exterieur,year,month,nom_departement,nom_region,latitude,longitude,pop_active,salaire_moyen,nb_etab_elem
0,90000.0,0,Maison,150.0,3,347.0,1.0,2018,1,Ain,Auvergne-Rhône-Alpes,46.275401,4.967571,320682.0,15.336249,405
1,7300.0,0,Autres,0.0,0,344.0,1.0,2018,1,Ain,Auvergne-Rhône-Alpes,46.275401,4.967571,320682.0,15.336249,405
2,60000.0,0,Autres,0.0,0,210.0,1.0,2018,1,Ain,Auvergne-Rhône-Alpes,46.275401,4.967571,320682.0,15.336249,405
3,60000.0,0,Autres,0.0,0,798.0,1.0,2018,1,Ain,Auvergne-Rhône-Alpes,46.275401,4.967571,320682.0,15.336249,405
4,69000.0,0,Autres,0.0,0,979.0,1.0,2018,2,Ain,Auvergne-Rhône-Alpes,46.275401,4.967571,320682.0,15.336249,405

In [11]:
df.drop(columns=["latitude", "longitude"], inplace=True)

In [12]:
df.head()

,Valeur fonciere,Nombre de lots,Type local,Surface reelle bati,Nombre pieces principales,Surface terrain,exterieur,year,month,nom_departement,nom_region,pop_active,salaire_moyen,nb_etab_elem
0,90000.0,0,Maison,150.0,3,347.0,1.0,2018,1,Ain,Auvergne-Rhône-Alpes,320682.0,15.336249,405
1,7300.0,0,Autres,0.0,0,344.0,1.0,2018,1,Ain,Auvergne-Rhône-Alpes,320682.0,15.336249,405
2,60000.0,0,Autres,0.0,0,210.0,1.0,2018,1,Ain,Auvergne-Rhône-Alpes,320682.0,15.336249,405
3,60000.0,0,Autres,0.0,0,798.0,1.0,2018,1,Ain,Auvergne-Rhône-Alpes,320682.0,15.336249,405
4,69000.0,0,Autres,0.0,0,979.0,1.0,2018,2,Ain,Auvergne-Rhône-Alpes,320682.0,15.336249,405

# Classification Types de Biens

In [17]:
df_model = df.loc[(df["year"] == 2018) & (df["Type local"] != "Autres")]

In [21]:
df_model.shape

(571727, 14)

In [23]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [98]:
X = df_model.drop(columns=["Valeur fonciere", "Type local", "year"])
X.head()

,Nombre de lots,Surface reelle bati,Nombre pieces principales,Surface terrain,exterieur,month,nom_departement,nom_region,pop_active,salaire_moyen,nb_etab_elem
0,0,150.0,3,347.0,1.0,1,Ain,Auvergne-Rhône-Alpes,320682.0,15.336249,405
11,0,180.0,6,680.0,1.0,6,Ain,Auvergne-Rhône-Alpes,320682.0,15.336249,405
13,0,147.0,6,1725.0,1.0,6,Ain,Auvergne-Rhône-Alpes,320682.0,15.336249,405
14,0,1147.0,0,2693.0,1.0,6,Ain,Auvergne-Rhône-Alpes,320682.0,15.336249,405
17,0,97.0,4,1050.0,1.0,7,Ain,Auvergne-Rhône-Alpes,320682.0,15.336249,405

In [99]:
X = X.drop(columns=["nom_departement"])
X.head()

,Nombre de lots,Surface reelle bati,Nombre pieces principales,Surface terrain,exterieur,month,nom_region,pop_active,salaire_moyen,nb_etab_elem
0,0,150.0,3,347.0,1.0,1,Auvergne-Rhône-Alpes,320682.0,15.336249,405
11,0,180.0,6,680.0,1.0,6,Auvergne-Rhône-Alpes,320682.0,15.336249,405
13,0,147.0,6,1725.0,1.0,6,Auvergne-Rhône-Alpes,320682.0,15.336249,405
14,0,1147.0,0,2693.0,1.0,6,Auvergne-Rhône-Alpes,320682.0,15.336249,405
17,0,97.0,4,1050.0,1.0,7,Auvergne-Rhône-Alpes,320682.0,15.336249,405

In [100]:
y = df_model.iloc[:,2]
y.head()

0     Maison
11    Maison
13    Maison
14     Local
17    Maison
Name: Type local, dtype: object

In [101]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.33, random_state=42)

In [102]:
X_train.head()

,Nombre de lots,Surface reelle bati,Nombre pieces principales,Surface terrain,exterieur,month,nom_region,pop_active,salaire_moyen,nb_etab_elem
2011283,0,0.0,0,19.0,1.0,12,Hauts-de-France,1181037.0,15.335992,1316
1158362,1,97.0,4,0.0,0.0,7,Bretagne,518054.0,15.321083,563
959646,0,101.0,5,951.0,1.0,6,Occitanie,704471.0,17.033211,561
2688961,0,104.0,4,1028.0,1.0,11,Nouvelle-Aquitaine,170557.0,14.422626,280
1803639,0,125.0,4,215.0,1.0,2,Grand Est,333854.0,14.772925,388

## Decision Tree Classifier

In [14]:
tree = DecisionTreeClassifier()

NameError: name 'DecisionTreeClassifier' is not defined

In [104]:
tree

DecisionTreeClassifier()

In [105]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [106]:
X_train

,Nombre de lots,Surface reelle bati,Nombre pieces principales,Surface terrain,exterieur,month,nom_region,pop_active,salaire_moyen,nb_etab_elem
2011283,0,0.0,0,19.0,1.0,12,Hauts-de-France,1181037.0,15.335992,1316
1158362,1,97.0,4,0.0,0.0,7,Bretagne,518054.0,15.321083,563
959646,0,101.0,5,951.0,1.0,6,Occitanie,704471.0,17.033211,561
2688961,0,104.0,4,1028.0,1.0,11,Nouvelle-Aquitaine,170557.0,14.422626,280
1803639,0,125.0,4,215.0,1.0,2,Grand Est,333854.0,14.772925,388
...,...,...,...,...,...,...,...,...,...,...
720884,0,83.0,5,116.0,1.0,5,Bourgogne-Franche-Comté,253357.0,14.456546,317
1662859,0,80.0,5,434.0,1.0,10,Normandie,218624.0,14.215535,323
2342031,0,52.0,2,1124.0,1.0,9,Auvergne-Rhône-Alpes,903434.0,17.597423,729
864291,0,137.0,5,137.0,1.0,11,Bretagne,405879.0,14.324161,534
803546,0,19.0,1,846.0,1.0,4,Bretagne,405879.0,14.324161,534

In [107]:
region_train = pd.get_dummies(X_train["nom_region"])

In [108]:
X_train.drop(columns=["nom_region"], inplace=True)

In [109]:
X_train_enc = pd.concat([X_train, region_train], axis=1)

In [110]:
region_test = pd.get_dummies(X_test["nom_region"])
X_test.drop(columns=["nom_region"], inplace=True)
X_test_enc = pd.concat([X_test, region_test], axis=1)

In [111]:
parameters = {'min_samples_split': [100,500,1000,5000,10000], 
               'min_samples_leaf':[50,250,500,2500,5000],
               'random_state':[42]
               }

In [112]:
from sklearn.model_selection import GridSearchCV

In [113]:
clf = GridSearchCV(tree, parameters)

In [114]:
X_train_enc.head()

,Nombre de lots,Surface reelle bati,Nombre pieces principales,Surface terrain,exterieur,month,pop_active,salaire_moyen,nb_etab_elem,Auvergne-Rhône-Alpes,Bourgogne-Franche-Comté,Bretagne,Centre-Val de Loire,Corse,Grand Est,Guadeloupe,Guyane,Hauts-de-France,La Réunion,Martinique,Normandie,Nouvelle-Aquitaine,Occitanie,Pays de la Loire,Provence-Alpes-Côte d'Azur,Île-de-France
2011283,0,0.0,0,19.0,1.0,12,1181037.0,15.335992,1316,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
1158362,1,97.0,4,0.0,0.0,7,518054.0,15.321083,563,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False
959646,0,101.0,5,951.0,1.0,6,704471.0,17.033211,561,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False
2688961,0,104.0,4,1028.0,1.0,11,170557.0,14.422626,280,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
1803639,0,125.0,4,215.0,1.0,2,333854.0,14.772925,388,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False

In [115]:
clf.fit(X_train_enc, y_train)

GridSearchCV(estimator=DecisionTreeClassifier(),
             param_grid={'min_samples_leaf': [50, 250, 500, 2500, 5000],
                         'min_samples_split': [100, 500, 1000, 5000, 10000],
                         'random_state': [42]})

In [127]:
importance = clf.best_estimator_.feature_importances_
importance

array([5.08843003e-01, 1.20443402e-01, 3.57171203e-01, 6.21594486e-03,
       0.00000000e+00, 7.67242436e-04, 2.04879198e-03, 2.18195413e-03,
       1.03361452e-03, 7.06075249e-05, 3.92644183e-06, 1.46753592e-04,
       2.12757095e-05, 4.23751805e-05, 5.49036459e-05, 2.93957868e-07,
       0.00000000e+00, 2.98976950e-05, 2.02167844e-07, 0.00000000e+00,
       2.02921395e-05, 2.04823255e-04, 3.28620562e-04, 8.94100907e-06,
       2.06674586e-04, 1.55257507e-04])

In [129]:
for feat, importance in zip(X_train_enc.columns, clf.best_estimator_.feature_importances_):
    print('feature: {f}, importance: {i}'.format(f=feat, i=importance))

feature: Nombre de lots, importance: 0.5088430028387847
feature: Surface reelle bati, importance: 0.1204434015283979
feature: Nombre pieces principales, importance: 0.35717120274320163
feature: Surface terrain, importance: 0.006215944857335043
feature: exterieur, importance: 0.0
feature: month, importance: 0.0007672424356962723
feature: pop_active, importance: 0.002048791978781107
feature: salaire_moyen, importance: 0.0021819541266419685
feature: nb_etab_elem, importance: 0.0010336145174869725
feature: Auvergne-Rhône-Alpes, importance: 7.060752494089641e-05
feature: Bourgogne-Franche-Comté, importance: 3.926441827416709e-06
feature: Bretagne, importance: 0.0001467535919324765
feature: Centre-Val de Loire, importance: 2.1275709471099063e-05
feature: Corse, importance: 4.2375180479227226e-05
feature: Grand Est, importance: 5.49036458588891e-05
feature: Guadeloupe, importance: 2.939578684786062e-07
feature: Guyane, importance: 0.0
feature: Hauts-de-France, importance: 2.9897695013837455e-05
feature: La Réunion, importance: 2.021678443137171e-07
feature: Martinique, importance: 0.0
feature: Normandie, importance: 2.0292139540006504e-05
feature: Nouvelle-Aquitaine, importance: 0.0002048232546516584
feature: Occitanie, importance: 0.00032862056179224034
feature: Pays de la Loire, importance: 8.941009074515202e-06
feature: Provence-Alpes-Côte d'Azur, importance: 0.00020667458643675287
feature: Île-de-France, importance: 0.00015525750694265616

In [117]:
print(clf.best_params_) 
grid_predictions = clf.predict(X_test_enc)

{'min_samples_leaf': 50, 'min_samples_split': 100, 'random_state': 42}

In [27]:
from sklearn.metrics import classification_report, confusion_matrix

In [119]:
print(classification_report(y_test, grid_predictions))

              precision    recall  f1-score   support

 Appartement       0.95      0.98      0.96     57287
  Dépendance       0.99      1.00      0.99     24447
       Local       0.98      0.96      0.97     10486
      Maison       0.99      0.97      0.98     96450

    accuracy                           0.97    188670
   macro avg       0.97      0.98      0.98    188670
weighted avg       0.97      0.97      0.97    188670

# Prédiction Autres

In [21]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [17]:
df_model = df.loc[(df["Type local"] != "Autres")]

In [19]:
tree = DecisionTreeClassifier(min_samples_leaf= 50, min_samples_split=100, random_state= 42)

In [22]:
X = df_model.drop(columns=["Valeur fonciere", "Type local", "year"])
X = X.drop(columns=["nom_departement"])
y = df_model.iloc[:,2]
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.33, random_state=42)

In [23]:
region_train = pd.get_dummies(X_train["nom_region"])
X_train.drop(columns=["nom_region"], inplace=True)
X_train_enc = pd.concat([X_train, region_train], axis=1)
region_test = pd.get_dummies(X_test["nom_region"])
X_test.drop(columns=["nom_region"], inplace=True)
X_test_enc = pd.concat([X_test, region_test], axis=1)

In [24]:
X_train_enc.head()

,Nombre de lots,Surface reelle bati,Nombre pieces principales,Surface terrain,exterieur,month,pop_active,salaire_moyen,nb_etab_elem,Auvergne-Rhône-Alpes,Bourgogne-Franche-Comté,Bretagne,Centre-Val de Loire,Corse,Grand Est,Guadeloupe,Guyane,Hauts-de-France,La Réunion,Martinique,Normandie,Nouvelle-Aquitaine,Occitanie,Pays de la Loire,Provence-Alpes-Côte d'Azur,Île-de-France
1966604,0,80.0,5,145.0,1.0,9,1181037.0,15.335992,1316,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False
3092161,1,26.0,1,0.0,0.0,6,847580.0,26.024599,369,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
2320894,1,0.0,0,0.0,0.0,6,903434.0,17.597423,729,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
685515,0,56.0,3,375.0,1.0,5,257330.0,13.944590,464,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False
835136,0,0.0,0,16.0,1.0,12,405879.0,14.324161,534,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [25]:
tree.fit(X_train_enc, y_train)

DecisionTreeClassifier(min_samples_leaf=50, min_samples_split=100,
                       random_state=42)

In [26]:
y_pred = tree.predict(X_test_enc)

In [28]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

 Appartement       0.95      0.98      0.96    209785
  Dépendance       0.99      1.00      0.99    103957
       Local       0.98      0.97      0.97     43468
      Maison       0.99      0.97      0.98    391958

    accuracy                           0.98    749168
   macro avg       0.98      0.98      0.98    749168
weighted avg       0.98      0.98      0.98    749168

In [32]:
import pickle

In [33]:
model_pkl_file = "tree_classif_typelocal.pkl"  

with open(model_pkl_file, 'wb') as file:  
    pickle.dump(tree, file)

In [55]:
df_model.to_csv("df_sansNantypelocal.csv", sep='\t')