In [4]:
import pandas as pd

# Nettoyage des données

In [16]:
df_train = pd.read_csv("Data/data_train.csv", sep=",")

In [17]:
#On enleve la colonne Normalized_Mutations

df_train = df_train.drop(columns=['Normalized_Mutations'])

In [43]:
df_train.head(2)

,Valeur fonciere,Type local,Surface reelle bati,Nombre pieces principales,Surface terrain,exterieur,year,month,nom_region,pop_active,salaire_moyen,nb_etab_elem,mean_prixm2,q1_prixm2,q3_prixm2,Total_Mutations
0,90000.0,Maison,150.0,3,347.0,1.0,2018,1,Auvergne-Rhône-Alpes,320682.0,15.336249,405,2235.777587,1662.166667,2653.858156,12389
1,154200.0,Maison,180.0,6,680.0,1.0,2018,6,Auvergne-Rhône-Alpes,320682.0,15.336249,405,2235.777587,1662.166667,2653.858156,12389

In [49]:
# Utilisez pd.get_dummies() pour créer des variables indicatrices
dummies = pd.get_dummies(df_train['nom_region'], prefix='Region')
# Concaténez les variables indicatrices avec le DataFrame d'origine
df_train = pd.concat([df_train, dummies], axis=1)
#Drop colonne Nom_Region
df_train = df_train.drop(columns=['nom_region'])

In [50]:
#On split le df en 4df suivant le Type Local
df_local=df_train.loc[df_train['Type local']=='Local']
df_dependance=df_train.loc[df_train['Type local']=='Dépendance']
df_maison=df_train.loc[df_train['Type local']=='Maison']
df_appartement=df_train.loc[df_train['Type local']=='Appartement']

## Mise en modele

In [60]:
print("taille local",df_local.shape)
print("taille dependance",df_dependance.shape)
print("taille maison",df_maison.shape)
print("taille appartement",df_appartement.shape)

taille local (54448, 41)
taille dependance (164546, 41)
taille maison (931324, 41)
taille appartement (469785, 41)

In [ ]:
df